# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source
src/lib/platform-navigation.ts

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.vercel
next-env.d.ts

# ignore generated API content
/content/api/
/public/openapi/
/openapi/

